{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-macros",
    [
      "styled-components",
      {
        "ssr": false,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
